@import "tailwindcss";

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-stretch: normal;
    src: url('../public/font/iranyekanwebbold\(fanum\).eot'),
        url('../public/font/iranyekanwebbold\(fanum\).woff2')format('woff2'),
        url('../public/font/iranyekanwebbold\(fanum\).woff')format('woff'),
        url('../public/font/iranyekanwebbold\(fanum\).ttf')format('truetype'),
}


@theme{
    --font-IRANNormal:'IRANSansWeb'
}

*{
    font-family: "IRANSansWeb";
    direction: rtl;
    text-align: right;
    text-decoration: none !important;
}
